:root {
  --red: #f40000;
  --ketchup: #b20000;
}

@font-face{
  font-family:cheese-sans;
  src:url(/css/txiizcanc.ttf);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 5))
  }
}
.cheesenese-writing{
  font-family:cheese-sans;
}
.bg-ketchup {
  background-color: var(--ketchup) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.nav-link,
.nav-item {
  position: relative;
  z-index: 100;
}

.nav-link:focus {
  color: white !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--red);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 150ms ease;
}

.nav-link:hover {
  color: white !important;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.topnav {
  z-index: -100;
}

.scroll-card {
  background-size: cover;
  background-position-x: 50%;
  padding: 0 !important;
  height: 300px;
  position: relative;
  overflow: hidden;
  cursor: default;
  margin: 4px;
}

.scroll-card:hover .card-content {
  transform: translateY(0%);
}

.card-content {
  color: white;
  position: absolute;
  bottom: 0;
  padding: 1em;
  transform-origin: top;
  transform: translateY(70%);
  background: linear-gradient(hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 0.3) 10%,
      hsl(0 0% 0% / 1));
  transition: transform 800ms ease-in-out;
  will-change: transform;
}

.card-title {
  position: relative;
}

.card-title::after {
  content: '';
  left: 0;
  bottom: -0.3em;
  height: 4px;
  width: 100%;
  position: absolute;
  background-color: red;
}

.card-text {
  margin-top: 1em;
}

#laws.scroll-card {
  background-image: url(/assets/gavel.jpg);
}

#government.scroll-card {
  background-image: url(/assets/government.jpg);
}

#news.scroll-card {
  background-image: url(/assets/news.jpg);
}

#about.scroll-card {
  background-image: url(/assets/flag.png);
  background-position: 50% -20px;
}

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slide-track {
  display: flex;
  width: 2500px;
  animation: scroll 20s linear infinite;
  animation-play-state: running;
  transition: animation-play-state 1s ease;
}

.slide-track:hover {
  animation-play-state: paused;
}
